<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>NLP</title>
    <style type="text/css">
      .input{
        padding-bottom: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container"><br>
      <form action="{{url_for('InputView:input_text')}}" method="POST">
          {{ form.csrf_token }}
          <div class="row">
            <div class="col-md-6">
          <div class="form-group">
          {{ form.input_field_one.label(class="text-primary") }}
          {{ form.input_field_one(class="form-control input") }}
          </div>
            </div>

                        <div class="col-md-6">
          <div class="form-group">
          {{ form.input_field_two.label(class="text-primary") }}
          {{ form.input_field_two(class="form-control input") }}
          </div>
            </div>
          </div>

          {{form.generate_report(class="btn btn-primary")}} &nbsp&nbsp&nbsp{{form.check_plagiarism(class="btn btn-danger")}}
      </form>
      </div>
{% if plg %}
      <div class="container" style="margin-top: 20px;">
        <div class="row">
          <div class="col-md-6">
          <p>The similarity between the two essays out of 100 is: <strong>{{plg}}%</strong></p>
            
          </div>
        </div>
      </div>
      {% endif %}



      <div class="container" style="margin-top: 20px;">
        {% if most_frequent_words %}
        <div class="row">
          <div class="col-md-12">
          <p>Most frequent words are: {{most_frequent_words}}</p>
          </div>
        </div>
          {% endif %}


                  {% if word_count %}
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
          <p>Total words count is: {{word_count}}</p>
          </div>
        </div>
          {% endif %}

                            {% if spell_check %}
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
          <p>Spelling suggestions: </p>
          <p> {{spell_check}}</p>
          </div>
        </div>
          {% endif %}

                                      {% if part_of_speech %}
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
          <p>Parts of speech count is: </p>
          <p> {{part_of_speech}}</p>
          </div>
        </div>
          {% endif %}
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>